################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo1/.vs/demo1/v15/Browse.VC.opendb
